<!-- Will -->
<div class="row">
    <div class="col-lg-6 col-12">
        <img src="assets/officers/will.jpg" class="w-100">
    </div>
    <div class="col-lg-6 col-12">
        <h1 class="text-lg-left text-center">[Guild Leader] Atrøphy</h1>
        <p class="mb-0">
            Hi, I'm Will. I've been running Uranium for the last 2 years alongside my XO Adrian, and a small handful of
            long time friends. Together we've built a welcoming community of competitive WoW players. I'm happily
            married to the best boomkin in guild, Lunabrooke. My primary goal in guild is to maintain an inclusive and
            fun atmosphere in and out of game, while providing consistent content for all Uranium guild members. Your
            concerns are my concerns.
        </p>
    </div>
</div>

<hr>

<ng-container *ngFor="let o of officers; let i = index">
    <div *ngIf="i % 2 == 0" class="row mx-0">
        <div class="row">
            <div class="col-6 d-flex flex-column">
                <img [src]="resolveUrl(officers[i]?.imageUrl)" class="mw-75 m-auto">
            </div>
            <div class="col-6 d-flex flex-column" *ngIf="officers.length > i + 1">
                <img [src]="resolveUrl(officers[i + 1]?.imageUrl)" class="mw-75 m-auto">
            </div>
        </div>
        <div class="row">
            <div class="col-6 h-100 mb-0">
                <h1 class="text-center">[{{ officers[i].title }}]</h1>
            </div>
            <div class="col-6 h-100 mb-0" *ngIf="officers.length > i + 1">
                <h1 class="text-center">[{{ officers[i + 1].title }}]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 h-100">
                <h1 class="text-center">{{ officers[i].name }}</h1>
            </div>
            <div class="col-6 h-100" *ngIf="officers.length > i + 1">
                <h1 class="text-center">{{ officers[i + 1].name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ resolveDescription(officers[i])  }}
            </div>
            <div class="col-6">
                {{ resolveDescription(officers[i + 1])  }}
            </div>
        </div>
    </div>
    <hr *ngIf="i % 2 == 0">
</ng-container>
