<div class="d-flex row justify-content-between mx-0 mb-3">
    <iframe width="540"
            height="315"
            src="https://www.youtube.com/embed/mZYl9cQoUFs"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            frameborder="0"
            allowfullscreen
    ></iframe>
    <iframe width="540"
            height="315"
            src="https://www.youtube.com/embed/ndZQHTBD1NE"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            frameborder="0"
            allowfullscreen
    ></iframe>
</div>

<div class="d-flex flex-column">
    <h3 class="mb-3"><a href="https://warcraftlogs.com">Warcraft Logs</a></h3>
    <p>Includes intricate details about a fight, similar to Details! or Recount but with more details.</p>
    <h3 class="mb-3"><a href="https://wowanalyzer.com/">WoW Analyzer</a></h3>
    <p>Breaks down information from Warcraft Logs and tells you where you have room for improvement.</p>
    <h3 class="mb-3"><a href="https://www.curseforge.com/wow/addons/weakauras-2">WeakAuras</a></h3>
    <p>On-screen alerts, shapes, sounds, and more that give you a leg-up on fights.</p>
    <h3 class="mb-3"><a href="https://www.herodamage.com/">Hero Damage</a></h3>
    <p>A website where you can see the latest World of Warcraft simulations results for every class.</p>
    <h3 class="mb-3"><a href="https://www.raidbots.com/simbot">Raidbots</a></h3>
    <p>Allows you to run simulations to see what the best item sets you can take on fights.</p>
    <h3 class="mb-3"><a href="https://www.wipefest.gg/">Wipefest</a></h3>
    <p>Reports where people went wrong on mechanics in fights that eventually lead to a wipe.</p>
</div>
