<div class="d-flex">
    <ul ngbNav #nav=ngbNav [(activeId)]="activeItem" class="nav-pills col-lg-2" orientation="vertical">
        <li ngbNavItem="schedule">
            <a ngbNavLink>Schedules</a>
            <ng-template ngbNavContent>
                <h3><u>Schedules</u></h3>
                <p>
                    These times are fairly established. We encourage all raiders to be ready to go 15 minutes before
                    raid time starts. Raid time should be just clearing bosses, not waiting for people to log on.
                </p>
                <h4>Mythic Team</h4>
                <ul>
                    <li>Tuesday: 8PM-11PM EST</li>
                    <li>Thursday: 8PM-11PM EST</li>
                </ul>
                <h4>Heroic Team</h4>
                <ul>
                    <li>Tuesday: 7PM-10PM EST</li>
                    <li>Thursday: 7PM-10PM EST</li>
                </ul>
            </ng-template>
        </li>
        <li ngbNavItem="expectations">
            <a ngbNavLink>Expectations</a>
            <ng-template ngbNavContent>
                <h3><u>General Expectations</u></h3>
                <p>
                    These expectations hold true for both the Mythic and Heroic teams. Be sure to read these and be sure
                    that you are willing to meet these expectations each and every night.
                </p>
                <ul>
                    <li>
                        Be online on time and able to spend 3 hours uninterrupted. The raid team will not wait for you.
                    </li>
                    <li>
                        Let the Raid Leader know if you cannot make the raid. Consistently leaving early or random AFKs
                        will reduce the chance you’ll be asked to return. No call/no shows will not be invited later in
                        the night.
                    </li>
                    <li><strong>Attendance is crucial to progressing a raid tier.</strong></li>
                    <li>Raiders will get an understanding of each fight prior to the first encounter with a boss.</li>
                    <li>
                        Don’t be impaired while we are progressing. Once a raid is on farm, or doing non-progression
                        raiding, we don’t care, so long as it doesn't negatively affect the social aspect of the group.
                        "On farm" means we can clear a raid in one night.
                    </li>
                    <li>
                        Raid Assistants will be picked by the Raid Leader to help them. They can promote as many as they
                        need. Raid Assistants are priority shot callers.
                    </li>
                    <li>
                        All raiders will have <strong>WeakAuras</strong>, <strong>Exorsus Raid Tools</strong>, and
                        <strong>DBM</strong> (or <strong>BigWigs</strong>).
                    </li>
                </ul>
                <p><strong>
                    To become a full-time raider, meet all of the noted expectations listed above, the expectations for
                    your specific team, and show up (on time) for two consecutive weeks while participating in a raid
                    team.
                </strong></p>
                <p><strong>
                    You can lose raider rank by "no call, no showing" for two consecutive weeks.
                </strong></p>
            </ng-template>
        </li>
        <li ngbNavItem="mythic">
            <a ngbNavLink>Mythic Team</a>
            <ng-template ngbNavContent>
                <h3><u>Mythic Team</u></h3>
                <p>
                    Although our requirements are guidelines, the closer you are to them, the more likely you will be
                    picked to join the team. Being as we can only have 20 members in the team on a given night, be
                    prepared to sit on the bench at first, but people come and go. We will likely have you trial for the
                    mythic team in one of our heroic teams.
                </p>
                <hr />
                <h4>Expectations</h4>
                <ul>
                    <li>Understand that the team is more important than the individual.</li>
                    <li>
                        Willing to die infrequently and takes the initiative to improve their gameplay without prodding.
                    </li>
                    <li>Agree that mistakes are a learning experience.</li>
                    <li>
                        Be willing to take receive help and admit mistakes. Everyone struggles with certain fights from
                        time. We have very clear expectations, but we are also all very friendly and willing to help
                        people in those cases.
                    </li>
                    <li>
                        You can miss up to 2 raid nights per month to maintain a guaranteed raid spot. If you have to
                        miss a raid, you are expected to give notice at least one day before unless it's an emergency.
                    </li>
                    <li>Be prepared to wipe a lot; it’s the nature of the beast.</li>
                    <li>Mythic raiders will clear a +15 keystone every week.</li>
                    <li>Retrieve all necessary materials from the guild bank prior to raid time.</li>
                    <li>Raiders may be benched for another spec/class temporarily.</li>
                    <li>There are no carries in a mythic raid, everyone must pull their weight.</li>
                    <li>
                        Heroic raid teams will double as a testing ground for those who want to join the mythic team.
                    </li>
                    <li>
                        Certain WeakAuras may be used on a team wide basis and everyone will import them when needed.
                    </li>
                    <li>
                        Raiders should watch a fight that is being progressed from your specific class’s perspective if
                        possible.
                    </li>
                </ul>
                <hr />
                <h4>Requirements</h4>
                <ul>
                    <li>70% parse by item level in Heroic Ny'alotha</li>
                    <li>465 item level</li>
                    <li>Rank 15 cloak</li>
                    <li>Level 85 neck</li>
                    <li>All Azerite Essences Rank 3</li>
                </ul>
                <hr />
                <h4>Current Needs</h4>
                <ul>
                    <li>Warlock</li>
                    <li>Elemental Shaman</li>
                    <li>Balance Druid</li>
                    <li>BM/Marksman Hunter</li>
                    <li>Mage</li>
                    <li>Monk Healer</li>
                    <li>Shadow Priest</li>
                </ul>
                <hr />
                <h4>Schedule</h4>
                <ul>
                    <li>Tuesday: 8PM-11PM EST</li>
                    <li>Thursday: 8PM-11PM EST</li>
                </ul>
            </ng-template>
        </li>
        <li ngbNavItem="heroic">
            <a ngbNavLink>Heroic Team</a>
            <ng-template ngbNavContent>
                <h3><u>Heroic Team</u></h3>
                <p>
                    Heroic Teams are a learning and improvement platform before you jump into mythic raiding, or just a
                    place to farm some gear with friends if you're not looking for the next step up. Raider expectations
                    still apply as we won't carry you if you don't want to improve.
                </p>
                <hr />
                <h4>Requirements</h4>
                <ul>
                    <li>450 item level</li>
                    <li>Rank 12 cloak</li>
                    <li>Level 75 neck</li>
                    <li>Azerite Essences Rank 2</li>
                </ul>
            </ng-template>
        </li>
        <li ngbNavItem="loot">
            <a ngbNavLink>Loot / BoEs</a>
            <ng-template ngbNavContent>
                <h3><u>Loot / BoEs</u></h3>
                <p>
                    We want to be very clear and explicit when it comes to loot drops as it can be a point of
                    contention. Our loot rules are broken up into two types: personal and BoEs
                </p>
                <h4>Personal Loot</h4>
                <p>
                    All personal loot belongs to the raider who looted it. They are under no obligation to trade it to
                    any member of the raid. Traded gear will follow these rules when it is being rolled on:
                </p>
                <ol>
                    <li>Main Spec (main character)</li>
                    <li>Main Spec (side-grade)</li>
                    <li>Off Spec</li>
                    <li>Alts</li>
                </ol>
                <p>
                    Our gearing philosophy places a higher importance on new and current member's main character above
                    alts.
                </p>
                <h4>BoEs</h4>
                <p>
                    BoE’s that drop during raid night will be given to the Raid Leader and sold on the AH for guild bank
                    revenue. However, any guild member may buy the item BoE from the guild bank at half price. You will
                    be supplied with <u>ALL</u> flasks, food, potions, vantus runes, and repairs needed for raiding and
                    M+. Raiders may pull consumables out of the bank everyday as needed. This rule applies to any
                    Uranium raider in any Uranium raid.
                </p>
            </ng-template>
        </li>
        <li ngbNavItem="signup">
            <a ngbNavLink>Apply</a>
            <ng-template ngbNavContent>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdzyTPfHqU9_oi4hMJnC-ldUcvalycFZXTGQqme4nAUBINQGQ/viewform?embedded=true"
                        class="w-100"
                        height="575px"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0"
                >
                    Loading...
                </iframe>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="ml-4 col-lg-10"></div>
</div>
