<h1 class="text-center mt-2 mb-5">Uranium Rules</h1>

<ol>
    <li>
        <strong>The Golden Rule.</strong> Don’t be a dick. Resolve arguments at the lowest level and be civil. Guild
        drama is inevitable, but how we as a guild handle the bad times, will determine how much fun as a group we can
        have during the good times. Communication is key. Every guild member’s opinion is valued, so bring any issue you
        find to light early, and don’t let them fester. My main goal is to ensure every member is respected and enjoying
        their time online.
        <br><br>
        Any player may confidentially report another member, file a complaint, or offer feedback to their respective
        Role Leader officer or to any trusted officer. Confidentiality between members and officers is crucial in
        maintaining trust, so if an officer breaks that trust, they will be removed from their role as a leader. Don’t
        be afraid to come to me if you need me.
    </li>
    <br>
    <li>
        <strong>Don't rage.</strong> If you rage in discord you will be muted, given time to collect yourself, and are
        expected to be able to explain the situation in a civil manner. Failure to present your case in a professional,
        mature manner will then result in a removal from the guild. We will not stand toxicity towards other members and
        will stop the problem before it can grow.
    </li>
    <br>
    <li>
        <strong>Elitism is not welcome here.</strong> If you’re too good for this guild, go find another. Mistakes are
        part of growth, and together we will learn from them and make the group as a whole better. Don’t expect special
        treatment just because you’re talented. At the end of the day this is only a game and you should treat everyone
        with respect. Help each other be better players and better people. Competition is not toxicity or elitism.
    </li>
    <br>
    <li>
        <strong>Every member is an ambassador to our Guild.</strong> When interacting with other players, be kind, be
        courteous, be professional. If you act like an asshole, the guild pays for it.
    </li>
</ol>

<div class="text-center mt-5">
    <h1>Guild Rankings</h1>
    All ranks enjoy Gbank repairs and free bags/food/consumables, gaining more benefits as you rank up.
</div>

<br><br>

<strong>Guild Leader:</strong>
Ensures all members are happy and enjoying the game, solve guild related problems in coordination with the Ward Room.

<br><br>

<strong>Commanding Officer(CO):</strong>
Second in charge and works closely with the Guild Leader and XO. Ensures the raid teams are raid ready, and manages guild resources/Gbank.

<br><br>

<strong>Executive Officer(XO):</strong>
Responsible for all guild member admin. Can fill the role of any officer.

<br><br>

<strong>Raid Leader(s):</strong>
Responsible for organizing and planning Uranium raids.

<br><br>

<strong>Officers:</strong>
Run their respective aspect of the guild and ensure all guild issues are handled at their lowest level. The officer corps as a whole are known as the Ward Room.
<br><br>
Promotion to Officer requirements:
<ul>
    <li>Active in the guild</li>
    <li>
        An existing officer to step down or an officer, deemed by the Ward Room, to be mismanaging their part of the
        job, and removed from the role
    </li>
    <li>Veteran rank</li>
</ul>

<strong>Veteran:</strong>
Longstanding and active Uranium guild members. Higher permissions and pillars of the community. Look to them if you’re new. Can pull gold straight from the Gbank and access more gbank tabs.

<br><br>

<strong>Raider:</strong>
A guild member actively participating in guild raid teams. Promotion to Veteran will require Mythic raiding with the guild for at least 1 whole raid tier. Can access the raid gbank tab.
<br><br>
To gain raider rank, raid with a team for 2 consecutive weeks. You can lose raider rank if you no call no show for 2 consecutive weeks.

<br><br>

<strong>Crew:</strong>
The baseline status of guild members. Join a raid team to progress your rank.
<br><br>
Don't have time to dedicate to a raid team? No worries, enjoy the social side of Uranium and fill a slot occasionally when you have time. Has guild repairs and may invite other members.

<br><br>

<strong>Alt:</strong>
Alts of raiders and crew members with reduced guild bank permissions.

<br><br>

<strong>Join Discord:</strong>
Members who have not yet joined our discord. Guild permissions are minimal.

<br><br>

<strong><u>
    For all ranks, 2 month of inactivity will result in being removed from the guild, with the exception of military
    members on deployment and special cases, provided you give warning to the guild.
</u></strong>
