<h1 class="text-center">Officer Promotion</h1>
<p>
    The Ward Room promotes officers based on their activeness in the guild, competence for their role, and desire to
    work hard to ensure the success of Uranium. Officership is a job and roles will be kept to a minimum, adding more as
    the needs of the guild increase.
</p>
<p>
    Collectively, officers are known as the "Ward Room", and work as a team to decide on the best options to keep
    Uranium an enjoyable place for her members.
</p>
<p>
    Being an officer is a huge responsibility, and often is a thankless task, but brings with it the authority to
    determine the course of the guild.
</p>
<p>
    Maintaining a frequent online presence, reaching out to other members to assist and teach, and showing the rest of
    the server that we are the best of the best are key aspects to being an officer. Officers are given room to define
    their own role and should seek opportunities to help guild members. They are not micromanaged but instead are
    responsible to ensure there are not deficiencies in their respective role.
</p>
<p>
    Veterans may apply for officer positions as they become available.
</p>

All officers will have input in the following:
<ul>
    <li>Adding new/revising existing guild policies</li>
    <li>Whether to accept or decline new applicants</li>
    <li>Deciding our recruitment needs</li>
    <li>Weekly raid plans</li>
    <li>Suggesting changes to raid times or rosters</li>
    <li>Evaluating current officers</li>
</ul>

<strong>Executive Officer (XO)</strong>
<ul>
    <li>In charge of the people side of the guild</li>
    <li>Maintains a log of all guild reports, feedback and complaints</li>
    <li>Manages the discord</li>
</ul>

<strong>Commanding Officer (CO)</strong>
<ul>
    <li>In charge of all things raiding.</li>
    <li>Ensure teams are full and the Raid Leaders are prepared with cauldrons/feasts</li>
    <li>Inform the Recruiting officer of the needs of raid teams</li>
    <li>Maintains the guild bank</li>
</ul>

<strong>Raid Leader(s)</strong>
<ul>
    <li>Will keep their team informed of raid schedules</li>
    <li>Runs the raid night along with their Raid Assistants</li>
    <li>Will assist Crew members get into raids</li>
    <li>Progress raid content and provide and enjoyable raid experience</li>
</ul>

<strong>Recruiter</strong>
<ul>
    <li>Finding new raiders and members</li>
    <li>Stay up to date with the needs of the raid teams when finding Raiders</li>
    <li>Help new members get situated in the guild</li>
</ul>

<strong>Events Coordinator</strong>
<ul>
    <li>Plan and execute non-raid night events throughout the week</li>
    <li>Take screenshots and videos of events to post to the discord</li>
    <li>Bring guild member feedback regarding non-raid events, and discuss upcoming events at the Ward Room meeting</li>
</ul>

<hr class="mt-4" />

<h2>Apply</h2>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeN5EkFmkQXNDa6Yx8GFLxUJKjd_EEtwc5a2p-Yb92qDN6Dcw/viewform?embedded=true"
        class="w-100"
        height="575px"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
>
    Loading...
</iframe>
