<div class="d-flex flex-column mb-3">
    <div class="d-flex justify-content-between mb-5">
        <a [routerLink]="'/resources/dps'" class="btn btn-primary" style="width: 12rem; height: 2.5rem">
            DPS Help
        </a>
        <a [routerLink]="'/resources/suggestion-box'" class="btn btn-primary" style="width: 12rem; height: 2.5rem">
            Suggestion Box
        </a>
    </div>
    <div class="d-flex justify-content-between mb-5">
        <a [routerLink]="'/resources/healing'" class="btn btn-primary" style="width: 12rem; height: 2.5rem">
            Healing Help
        </a>
        <a [routerLink]="'/raiding'" class="btn btn-primary" style="width: 12rem; height: 2.5rem">
            Raid Signup
        </a>
    </div>
    <div class="d-flex justify-content-between">
        <a [routerLink]="'/resources/tanking'" class="btn btn-primary" style="width: 12rem; height: 2.5rem">
            Tanking Help
        </a>
        <a [routerLink]="'/guild-info/becoming-an-officer'" class="btn btn-primary" style="width: 12rem; height: 2.5rem">
            Officer Application
        </a>
    </div>
</div>
