<div class="d-flex justify-content-between mb-3">
    <a [routerLink]="'/join-uranium'" class="btn btn-primary" style="width: 9rem; height: 2.5rem">
        Discord
    </a>
    <a [routerLink]="'/raiding'" class="btn btn-primary" style="width: 16rem; height: 2.5rem">
        Raiding with Uranium
    </a>
    <a [routerLink]="'/resources/suggestion-box'" class="btn btn-primary" style="width: 9rem; height: 2.5rem">
        Suggestion Box
    </a>
</div>

<hr class="mt-4 mb-3"/>

<h2 class="text-center">Welcome to Uranium, a guild for friends, and competitive raiding.</h2>

<p class="mt-4 mx-5">
    We are finishing up mythic Nyalotha and prepping for Shadowlands. We have two other heroic raid teams where you can
    learn the ropes, improve, and potentially move into mythic raiding. We also do full guild M+ nights two times a
    week.
</p>
